/*---
title:   Card
name:    mixin_card
section: Mixin
---

A card is a flexible and extensible content container.

```css
// Card.
c-card([$-border-color: map-get($cs-grey, a)[, $-background-color: #fff]])

// Card figure.
c-card-figure()
```

```css
.foo {
  @include c-card();
}

.bar {
  @include c-card-figure();
}
```
*/
@mixin c-card($-border-color: map-get($cs-grey, a), $-background-color: #fff) {
  border: 1px solid $-border-color;
  background-color: $-background-color;
}

@mixin c-card-figure() {
  margin-top: 0;
}
